.section {
  background-color: #46464614;
  padding: 40px;
  color: black;
}
.main {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.infowrap {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.playerRow {
  display: flex;
  align-items: center;
  font-weight: bold;
  flex-direction: row;
  background-color: rgba(178, 170, 170, 0.508);
  padding: 8px;
  border-radius: 10px;
  width: 100%;
}
.playerDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sn {
  width: 10%;
  text-align: center;
}
.name {
  width: 40%;
  text-align: center;
}
.phoneno {
  width: 25%;
  text-align: center;
  overflow-x: visible;
}
.more {
  width: 25%;
  text-align: center;
}

.TeamTitle {
  font-size: 25px;
  font-weight: 800;
  text-transform: capitalize;
  margin: 5px 0;
}
.TeamContact {
  font-weight: bolder;
  font-size: 21px;
  margin: 5px 0;
}
.TeamDesc {
  font-weight: 600;
  margin: 5px 0;
}
.title {
  font-weight: 800;
  font-size: 25px;
}
.text1 {
  font-weight: bolder;
  color: red;
  font-weight: 800;
}
.text2 {
  font-weight: bold;
}
.input {
  width: 100%;
  font-weight: 600;
  padding: 5px;
}
.inputtitle {
  font-weight: 600;
  margin-bottom: 8px;
}
.inputwrap {
  padding: 10px 0;
}
.submit {
  padding: 10px;
  background-color: black;
  color: white;
  width: 100%;
  border-radius: 5px;
  transition: 200ms;
}
.content {
  width: 50%;
}
.submit:active {
  transform: scale(0.97);
}
.contentt {
  width: 100%;
}
@media screen and (max-width: 600px) {
  .content {
    width: 100%;
  }
  .section {
    padding-left: 0;
    padding-right: 0;
  }
  .main {
    padding-left: 4px;
    padding-right: 4px;
  }
}
.playerRowHeader {
  background-color: rgb(27, 25, 48);
  color: white;
  font-weight: 800;
  border-radius: 5px;
}
.moreHeader {
  cursor: auto;
}

.TeamSettingBtn {
  color: white;
  width: 100%;
  height: 100%;
  padding: 8px 0;
  border: none;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.91);
}

.btnLink {
  color: white;
  width: 33%;
}

.btnGrp {
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tableMain {
  margin-bottom: 30px;
  background-color: #ffff;
  margin-top: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.tableHead {
  background: #0a3453;
  color: white;
}
.tableInfo {
  font-weight: bold;
  text-transform: capitalize;
}

.activeSettings {
  display: flex;
  height: 100%;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.act {
  text-align: center;
  font-weight: 800;
  font-size: 19px;
}
.btnn {
  color: white;
  padding: 8px 45px;
  border: none;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.91);
}
.blah {
  font-weight: 800;
  padding: 7px 0;
}
.activeTeamsCard {
  padding: 16px;
  background-color: #8edfa56d;
  width: 33%;
  border-radius: 4px;
  text-align: left;
  height: 100%;
}
.activeTeamTitle {
  font-weight: 800;
  padding: 3px 0;
  font-size: 21px;
  text-transform: uppercase;
}
.activeTeamContact {
  font-weight: 600;
  padding: 3px 0;
  font-size: 19px;
}
.activeTeamDesc {
  font-weight: 600;
  display: -webkit-box;
  padding: 3px 0;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.Title {
  font-weight: 700;
  font-size: 25px;
  padding: 0 0 15px 0;
}
/***** checkboxx *****/

/***** End checkboxx *****/
