.section {
    padding: 30px;
    padding-bottom: 10px;
}
.main{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.name{
    font-size: 35px;
    font-weight: 800;
}
.welcome{
    font-size: 26px;
    font-weight: bold;
}
.desc{
    font-size: 20px;
    /* animation: blink 1000ms infinite ; */
    background-color:rgb(91, 109, 198) ;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
}
.no{
    font-weight: 900;
}
@keyframes blink{
    0% {
        background-color: rgb(114, 133, 228);
    }
    50%{
        background-color: rgb(91, 109, 198);
    }
    100%{
        background-color: rgb(114, 133, 228);
    }
}